@import url("https://fonts.googleapis.com/css2?family=ubantu&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "ubuntu", sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 5px;

}
::-webkit-scrollbar-thumb{
  border-radius: 30px;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.25);
  /* transition-delay: 2ms; */
  background-color:rgb(209, 208, 208);
}